
 .open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
 
} 



/* p{
    background-color: aqua;
} */

*{
    margin: 0px;
    padding: 0px;
    /* background-color: #FFF8F3; */
    
}
.navigation{
    background-color: #FFF8F3;
     
   
    
}
nav{
    padding-top: 50px;
    width: 70%;
    margin: 0px auto;
     justify-content: space-between; 
    display: flex;
    align-items: center;
    
    

}
.name{
    font-size: 45px;
    font-weight: 900px;
    
}
.rcolor{
    color: #FF8A00;
}
.list{
   list-style: none;
   display: flex;
   gap: 51px;
   align-items: center;
   

}
li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    
    font-size: 20px bold;
    color: white;
    cursor: pointer;
}
/* end of header edits */
.conimg{
     border: 1px solid red;
     margin: 38px 42px 0px 230px;
}
.conimg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
}
hi{
    font-size: 45px;
    font-weight: 600;
    margin: 5px;
    color: #474747;
}
.namclass{
margin-bottom: 20px;
font-size: 85px;
font-weight: bold;
}
.p{
    font-size: 18px;
    color: #757575;
    margin: 20px 0px;
}
.navigation{
    background: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: 38px 18px;
    background-color: #FFF8F3;
    
}
.img img{
    background-image: url(../images/header_bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    vertical-align: middle;
}
.aboutme{
    margin: 0px;
    padding: 0px;
}
.second{
    margin: 158px 238px 102px 230px;
    background-color: #FFF8F3;
    border: 1px solid red;
    width: 71%;
    max-width: 1140px;
}
#about-me {
     padding-top: 103px ; 
     text-align: center;
    
   
}
#about-me h2{
     padding-bottom: 30px;
        font-size: 35px;
}
#about-me p{
    font-size: 18px;
    color: #757575;
}
.info{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 30px 22px 159px 22px;
    
}
.third{
    width:71%;
    max-width: 1077px;
    margin: 102px 263px 158px 260px;
}
.what{
    text-align: center;
    align-items: center;
}
div h2{
    font-size: 35px;
    padding-bottom: 30px;
}
div p{
    font-size: 18px;
    
    padding-bottom: 50px;
}
.skills{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    width: 100%;
    max-width: 1107px;
    gap: 57px;
    margin: 0px auto;
    background-color: #FFFFFF;
    border: 1px solid red;
    
}
.skill{
    max-width: 1107px;
    box-shadow: 1px 4px 4px rgba(232, 219, 219, 0.105);
    padding: 30px;
    
}
#top{
    font-size: 35px;
    color: #181818;
    margin-top: 130px;
    margin-bottom: 113px;
    text-align: center;
    
}
.jamela{
    display: flex;
  padding-left: 230px;
  padding-right: 277px;
  padding-bottom: 50px;
  gap: 24px;
}
#h{
    margin-top: 130px;
    margin-bottom: 113px;
    text-align: center;
    font-size: 35px;
    color: #181818;
}
.my{
    margin-bottom: 30px;
    font-size: 30px;
    color: #474747;
}
.resume-text h3{
    color: #474747;
    font-size: 25px;
    margin-bottom: 10px;
}
.resume-text p{
    color: #757575;
    font-size: 20px;
    margin-bottom: 20px;

    
}
#Download-btn{
    align-items: center;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 100px;
}
.last{
    background-color: #FFF8F3;
    padding-top: 130px;
    padding-bottom: 20px;
    
    
}
.last-page{
    display: flex;
    background-color: #FFF8F3;
    padding-left: 230px;
    justify-content: center;
    gap: 117px;
}
.icon{
    gap: 24px;
}
form input[type="text"], input[type="email"], textarea{
    width: 461px;
    padding: 12px 349px 18px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
   padding-right: 230px;
    font-size: 16px;
    margin-bottom: 20px;
}
