
 .open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
 
} 



/* p{
    background-color: aqua;
} */

*{
    margin: 0px;
    padding: 0px;
}
.navigation{
    background-color: #FFF8F3;
}
nav{
    padding-top: 50px;
    width: 70%;
    margin: 0px auto;
     justify-content: space-between; 
    display: flex;
    align-items: center;
    
    

}
.name{
    font-size: 45px;
    font-weight: 900px;
    
}
.rcolor{
    color: #FF8A00;
}
.list{
   list-style: none;
   display: flex;
   gap: 51px;
   align-items: center;
   

}
li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    
    font-size: 20px bold;
    color: white;
}
