
 .open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
 
} 



/* p{
    background-color: aqua;
} */

*{
    margin: 0px;
    padding: 0px;
    background-color: #FFF8F3;
    
}
.navigation{
    background-color: #FFF8F3;
     
   
    
}
nav{
    padding-top: 50px;
    width: 70%;
    margin: 0px auto;
     justify-content: space-between; 
    display: flex;
    align-items: center;
    
    

}
.name{
    font-size: 45px;
    font-weight: 900px;
    
}
.rcolor{
    color: #FF8A00;
}
.list{
   list-style: none;
   display: flex;
   gap: 51px;
   align-items: center;
   

}
li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    
    font-size: 20px bold;
    color: white;
    cursor: pointer;
}
/* end of header edits */
section{
     border: 1px solid red;
     margin: 38px 42px 0px 230px;
}
.conimg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
}
hi{
    font-size: 45px;
    font-weight: 600;
    margin: 5px;
    color: #474747;
}
.namclass{
margin-bottom: 20px;
font-size: 85px;
font-weight: bold;
}
.p{
    font-size: 18px;
    color: #757575;
    margin: 20px 0px;
}
.navigation{
    background: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #FFF8F3;
    
}
.img img{
    background-image: url(../images/header_bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    vertical-align: middle;
}
    
