.main{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: repeat(6, 300px);
    gap: 10px;

}
img{
    width: 100%;
    height: 100%;
}
.a{
    grid-row: span 2;
    grid-column: span 6;
}
.b {
    grid-row: span 2;
    grid-column: span 2; 
}
.c{
    grid-column: span 2;
    grid-row: span 1;
}

@media screen and (max-width: 576px) {
    .main{
         display: grid;
    grid-template-columns: repeat(1 ,1fr); 

    }
    .a , .b,  .c {
       
       grid-column: span 1;
       grid-row: span 1;
    }
  
}